.add-element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .textArea {
    margin-bottom: 10px;
    resize: none;
  }
  .button {
    padding: 10px;
    border: 1px solid;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    background: white;
  }
}
