@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  background-color: #f6f7fb;
  height: 100%;
}
html,
body,
#app,
#app > div {
  height: 100%;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app {
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
